body{
	width: 1160px;
	height: 750px;
	
	/*padding-left: 50px;
	padding-right: 50px;*/
	margin: auto;
}
header{
	background-color: #d2d2d2;
}
main{
	background-color: #d2d2d2;
	padding-left: 50px;
	padding-top: 35px;
	height: 591.5px;
}
footer{
	background-color: #d2d2d2;
	clear: both;
}
section{
	/*margin-left: 50px;*/
	/*margin-right: 0;*/
	/*margin-top: 0;*/
}
div{
	padding: 0;
}
/*.x{
	padding: 0 50px 0 50px;
}
.y{
	padding: 30px 17px 29.5px 370px;
	margin-right: 50px;
}*/
/*.Column{
	width: 320px;
}
.Padding
.MarginRight{
	margin-right: 50px;
}
.FloatLeft{
	float: left;
}
.FloatRight{
	float: right;
}*/
header div{
	width: 162px;
	margin-left: 497px;
	margin-top: -3px;
	font-size: 18px;
	/*font-family: ﻿HelveticaNeueLTPro-Bd, ﻿Roboto-Medium, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;*/
	color: rgba(90, 154, 168, 255);
}
#touch50px{
	width: 292px;
	height: 36px;
	margin-top: 30px;
	margin-left: 430px;
}
#Group71X{
	width: 265px;
	height: 64px;
	margin-top: 26px;
	margin-left: 57px;
}
.section-left div{
	/*width: 342px;*/
	padding-right: 25px;
}
.section-center{
	padding-left: 25px;
	padding-right: 25px;
}
/*.section-left img{*/
.left-qs-button{
	position: relative; 
	right: 39px; 
	background: white; 
	border-color: white; 
	border-width: 0; 
	padding: 0;
}
.clear-ow{
	outline-width: 0;
}
.clear-ow:focus{
	outline-width: 0;
}
.clear-bw{
	border-width: 0;
}
.section-left-qs{
	width: 302px;
	height: 50px;
	padding-left: 18px;
	border-width: 0;
}
.frames{
	width: 302px;
	height: 50px;
	border-width: 0;
	padding-left: 18px;
}
input{
	/*outline-width: 0;*/
}
input:focus{
	outline-color: #5a9aa8;
}
.mb10px{
	margin-bottom: 10px;
}
.p0px{
	padding: 0;
}
.circle{
	border-radius: 50%;
}
.clear-border{
	border-color: none;
}
.clear-bg-button{
	background-color: none;
}
.white-bg-button{
	background-color: white;
}
.po-re-ri39px{
	position: relative;
	right: 39px; 
}
.circle-button2121{
	border-radius: 50%;
	width: 21px;
	height: 21px;
}
.active{
	color: #5a9aa8;
}
.bg-active{
	background-color: #5a9aa8;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.box-grid{
  float: left;
  width: 33.33%;
  /*padding: px;*/
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6d6e76;
}